<div class="container">
      <h3 class="title ellipsis">Continuous</h3>
      <h4 class="sub-title ellipsis">Continuous</h4>
      <div class="desc ellipsis">6 Songs - 23:04</div>

      {{!#if option}}
      <a class='dropdown-button btn-option' href='#' data-activates='option'>option</a>
      <ul id='option' class='dropdown-content'>
        <li><a href="#!"><i class="material-icons">mode_edit</i> Rename</a></li>
        <li><a href="#!"><i class="material-icons">delete</i>Delete</a></li>
      </ul>

    
      {{!/if}}
      
      <table class="bordered highlight">
        <thead>
          <tr>
              <th data-field="title">Title</th>
              <th data-field="Artist">Artist</th>
              <th data-field="album">Album</th>
              <th data-field="time">time</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>굳세어라 금순아</td>
            <td>곽진언,김필</td>
            <td>국제시장 OST</td>
            <td>3:53</td>
          </tr>
          <tr>
            <td>丸の內サディスティック (마루노우치 새디스틱)</td>
            <td>Tokyo Jihen</td>
            <td>Tokyo Collection</td>
            <td>4:25</td>
          </tr>
          <tr>
            <td>William Ekh - Adventures (feat. Alexa Lusader) [NCS Release]</td>
            <td>NCS</td>
            <td></td>
            <td>3:28</td>
          </tr>
          <tr>
            <td>굳세어라 금순아</td>
            <td>곽진언,김필</td>
            <td>국제시장 OST</td>
            <td>3:53</td>
          </tr>
          <tr>
            <td>丸の內サディスティック (마루노우치 새디스틱)</td>
            <td>Tokyo Jihen</td>
            <td>Tokyo Collection</td>
            <td>4:25</td>
          </tr>
          <tr>
            <td>William Ekh - Adventures (feat. Alexa Lusader) [NCS Release]</td>
            <td>NCS</td>
            <td></td>
            <td>3:28</td>
          </tr>

          <tr>
            <td>굳세어라 금순아</td>
            <td>곽진언,김필</td>
            <td>국제시장 OST</td>
            <td>3:53</td>
          </tr>
          <tr>
            <td>丸の內サディスティック (마루노우치 새디스틱)</td>
            <td>Tokyo Jihen</td>
            <td>Tokyo Collection</td>
            <td>4:25</td>
          </tr>
          <tr>
            <td>William Ekh - Adventures (feat. Alexa Lusader) [NCS Release]</td>
            <td>NCS</td>
            <td></td>
            <td>3:28</td>
          </tr>
        </tbody>
      </table>
    </div>