<li><a href="#playlist_add-modal"><i id="btn-playlist_add" class="material-icons">playlist_add</i>Add PlayLists</a></li>
{{#this}}
<li><a class="playlist-item" data-event="playlist" data-key="{{key}}">{{title}}</a></li>
{{/this}}